.border {
  border-bottom: 1px solid;
  margin: 1rem 3rem 1rem 3rem;
}
.contact {
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-size: 20px;
  width: 70%;
  justify-content: center;
  justify-items: center;
  margin-left: 16%;
}
.icon {
  color: #76ba99;
}
.formpage {
  width: 70%;
}
.contactForm {
  width: 60%;
}
